.controls {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.options {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.toggleDirection,
.toggleDirection:focus {
  width: 35%;
  margin-bottom: 10px;
  padding: 10px 15px;
  border: 1px solid #aeaeae;
  border-radius: 4px;
  cursor: pointer;
}

.currOptions {
  flex: 1 0 40%;
  margin-left: 20px;
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.size {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.setSize,
.setSize:focus {
  padding: 5px 10px;
  border-radius: 4px;
  color: #fff;
  background-color: #333;
  margin: 0 5px;
  cursor: pointer;
}

.setSize:disabled {
  background-color: rgba(0, 0, 0, .3);
  cursor: default;
}