.game {
  border: 1px solid black;
  margin-top: 30px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ready, .ready:focus {
  padding: 10px 15px;
  border: 2px solid black;
  border-radius: 4px;
  margin: 10px auto;
  cursor: pointer;
}

.ready:disabled {
  border-color: rgba(0, 0, 0, .3);
  color: rgba(0, 0, 0, .4);
  cursor: default;
}


