.field {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  margin-bottom: 20px;
  position: relative;
  min-height: 50px;
  overflow: hidden;
}

.field input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 20px 0 0;
  font-size: 1.2rem;
  border-bottom: 4px solid #333;
  transition: all .3 ease;
}

.field label {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.field label::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: #3c40c6;
  position: absolute;
  bottom: 0;
  transform: translateX(-100%);
  transition: transform .3s ease;
}

.field label>span {
  font-size: 1.3rem;
  position: absolute;
  bottom: 5px;
  left: 0;
  transition: all .3s ease;
}

.field input:focus+label::after,
.field input:not(:placeholder-shown)+label::after {
  transform: translateX(0%);
}

.field input:focus+label span,
.field input:not(:placeholder-shown)+label span {
  transform: translateY(-150%);
  color: #3c40c6;
  font-size: 0.8rem;
}