@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  background-color: #fff;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

input, input:focus,
textarea, textarea:focus,
button, button:focus {
  outline: none;
  background: none;
  border: none;
}

nav {
  border-bottom: 3px solid black;
}
