.auth {
  margin: 30px auto;
  max-width: 700px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .4);
  border: 1px solid black;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 2rem;
}

.title:after {
  content: '';
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #000;
  margin: 5px auto 20px ;
}

.form {
  width: 100%;
  height: 100%;
}

.options {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 30px;
}
.options input {
  margin-left: 10px;
}
.form button {
  display: block;
  margin: 0 auto;
  padding: 10px 30px;
  font-size: 1.4rem;
  background-color: #ddd;
  border-radius: 4px;
  cursor: pointer;
}

.registerLink, .registerLink:visited {
  color: #333;
  text-decoration: underline;
  margin-left: 5px;
}